{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm p-4">
        {% if messages %}
        <div class="container">
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissiblee fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      
      <h2 class="text-center">{% block title %}Account{% endblock %}</h2>
      <hr>
      {% block allauth_content %}

      {% endblock %}
    </div>
  </div>
</div>
</div>
{% endblock %}
