{% extends "base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm p-4">
        <h2 class="text-center">{%trans "Sign In" %}</h2>
        <hr>

        {% get_providers as socialaccount_providers %}
        {% if socialaccount_providers %}
        <p class="text-center">
          {% blocktrans with site.name as site_name %}
          Log in with your social account, or
          <a href="{{ signup_url }}">sign up</a> for a {{ site_name }} account.
          {% endblocktrans %}
        </p>
        <div class="text-center">
          {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </div>
        <div class="text-center my-3"><strong>{% trans 'OR' %}</strong></div>
        {% endif %}

        <form method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form|crispy }}

          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}

          <div class="d-flex justify-content-between mt-3">
            <a href="{% url 'account_reset_password' %}" class="btn btn-link">{% trans "Forgot Password?" %}</a>
            <button type="submit" class="btn btn-primary">{% trans "Sign In" %}</button>
          </div>
        </form>

        <p class="mt-3 text-center">
          {% trans "Don't have an account?" %}
          <a href="{{ signup_url }}">{% trans "Sign up here" %}</a>
        </p>
      </div>
    </div>
  </div>
</div>


{% endblock %}