# Virtual Environments
venv/
.venv/
env/
ENV/
env.py

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
*.sqlite3
db.sqlite3

# macOS
.DS_Store

# Editor settings
.vscode/
.idea/

# Environment Variables
.env
.env.py

# Django Static and Media
staticfiles/
media/
static/