{% extends "base.html" %}
{% block content %}
<div class="container my-4">
    <h2>Wish list & Shopping Cart</h2>
    <div class="row">

        <!-- Wishlist section -->
        <div class="col-md-6">
            <h3>Your wish list</h3>
            <ul class="list-group"</ul>
                {% for item in wishlist_items %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ item.product.name }}

                    <div>
                        <!-- Add to cart button -->
                        <form method="POST" action="{% url 'add_to_cart_from_wishlist' item.id %}" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success btn-sm">Move to cart</button>
                        </form>
                        <!-- Remove from wishlist -->
                        <form method="POST" action="{% url 'remove_from_wishlist' item.id %}" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-danger">Remove</button>
                        </form>
                    </div>
                </li>
                {% empty %}
                <p>No favourite items</p>
                {% endfor %}
            </ul>
        </div>
        
        <!-- Shopping cart section -->
        <div class="col-md-6">
            <h3>Your shopping cart</h3>
            <ul class="list-group">
                {% for item in cart_items %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ item.product.product.name }} - {{ item.quantity }} x ${{ item.product.price }})
                    <div>
                        <form method="POST" action="{% url 'add_to_wishlist' item.product.product.id %}" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-secondary btn-sm">Move to wishlist</button>
                        </form>
                        <form method="POST" action="{% url 'remove_from_cart' item.id %}" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-danger">Remove</button>
                        </form>
                    </div>
                </li>
                {% empty %}
                <p>Your cart is empty</p>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
