{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm p-4">
                <h2 class="text-center mb-4">{% block title %}Account Management{% endblock %}</h2>

                {% block inner_content %}
                <p class="text-center">This is the default account management page.</p>
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
