{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container my-5">
   <div class="row align-items-center">
      <!-- product image -->
      <div class="col-md-6 text-center">
         {% if product.image %}
         <img src="{{ product.image.url }}" class="img-fluid rounded mb-3" alt="{{ product.name }}">
         {% endif %}
         {% if product.image_2 %}
         <img src="{{ product.image_2.url }}" class="img-fluid rounded" alt="{{ product.name }}">
         {% endif %}
         {% if not product.image and not product.image_2 %}
         <img src="{% static 'images/default.jpg' %}" class="img-fluid rounded" alt="Default Image">
         {% endif %}
      </div>

      <!-- product details -->
      <div class="col-md-6">
         <h2 class="mb-3">{{ product.name }}</h2>
         <p class="lead">{{ product.description }}</p>
         <h5 class="text-muted">Season: {{ product.season }}</h5>
         <h5 class="text-muted">Flavor Tones: {{ product.flavor_tones }}</h5>
         <h4 class="text-success font-weight-bold">Price: ${{ product.price }}</h4>

         <!-- size selection -->
         <form method="POST" action="{% url 'add_to_cart' product.id %}" class="mt-4">
            {% csrf_token %}
            <div class="form-group">
               <label for="size">Select Size:</label>
               <select name="size" id="size" class="form-control" required>
                  <option value="" disabled selected>Select Size</option>
                  {% for size in product.get_sizes %}
                  <option value="{{ size }}">{{ size }}</option>
                  {% endfor %}
               </select>
            </div>
            <!-- add to cart button -->
            <button type="submit" class="btn btn-primary">Add to Cart</button>
         </form>
         <!-- like button -->
         <form method="POST" action="{% url 'add_to_wishlist' product.id %}">
            {% csrf_token %}
            {% if user.is_authenticated %}
            <button type="submit" class="btn btn-outline-danger">Like</button>
            {% else %}
            <a href="{% url 'account_login' %}?next={{ request.path }}" class="btn btn-outline-danger">Like</a>
            {% endif %}
         </form>

         <!-- Back to products -->
         <a href="{% url 'product_list' %}" class="btn btn-outline-secondary">Back to Products</a>
      </div>
   </div>
</div>
</div>

{% endblock %}
